/* CSS Color Palette
 --almond: #f1dac4ff;
--rose-quartz: #a69cacff;
--ultra-violet: #474973ff;
--oxford-blue: #161b33ff;
--rich-black: #0d0c1dff; */

body{
  background-color:#474973ff;
}

.App {
  display:flexbox;
  text-align: center;
  background-color:#474973ff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Exhibits {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
